@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,300&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  background-color: #f1f1f1 !important;
}

.h1, .h2, h1, h2 {
  font-family: Aller;
  font-style: normal;
  color: #496374;
}

.h1, h1 {
  font-size: 20px;
  font-weight: 400;
}

.h2, h2 {
  font-size: 18px;
  font-weight: 300;
}

.card .card-body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #fff;
  box-shadow: 0 1px 0 rgb(0 0 0 / 8%);
  border-radius: 6px;
  border: none;
}


//#007bff
//#00253d
//#0072c6;
//#00a1e4
//#666;

//font-family: Aller;
//font-style: normal;

//font-family: Roboto;
//font-size: 10px;
//font-style: normal;
//color: #333;


//btn
//background: linear-gradient(
//90deg
//  ,#0072c6 0,#0386e6);
//font-family: Roboto;